<!DOCTYPE html>
<html>
     <head>
          <meta charset="ISO-8859-1">
          <title>Update Student</title>
     </head>
     <body>
           <h2>Update a Student</h2>
           
           <form action="/updateStudentObj" method="post">
           <label>Enter roll:</label>
           <input type="text" name="roll">
           <br><br>
           <label>Enter name:</label>
           <input type="text" name="name">
           <br><br>
           <label>Enter branch:</label>
           <input type="text" name="branch">
           <br><br>
           <label>Enter yop:</label>
           <input type="text" name="yop">
           <br><br>
           <label>Enter cgpa:</label>
           <input type="text" name="cgpa">
           <br><br>
           <input type="submit">
           </form>
     </body>
</html>